@import "tailwindcss";

@plugin "daisyui" { themes: light --default, dark --prefersdark; }


@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: oklch(100.0000% 0.000000 0.00); /* #ffffff */
  --color-base-200: oklch(97.6346% 0.002862 84.56); /* #f8f7f5 */
  --color-base-300: oklch(94.4295% 0.006262 75.41); /* #efece8 */
  --color-base-content: oklch(20.7682% 0.039824 265.75); /* #0f172a */

  --color-primary: oklch(51.0938% 0.086055 186.39); /* #0f766e */
  --color-primary-content: oklch(100.0000% 0.000000 0.00); /* #ffffff */
  --color-secondary: oklch(70.8458% 0.156614 54.21); /* #ea8230 */
  --color-secondary-content: oklch(21.0084% 0.031763 264.66); /* #111827 */
  --color-accent: oklch(70.8458% 0.156614 54.21); /* #ea8230 */
  --color-accent-content: oklch(21.0084% 0.031763 264.66); /* #111827 */
  --color-neutral: oklch(27.8078% 0.029596 256.85); /* #1f2937 */
  --color-neutral-content: oklch(100.0000% 0.000000 0.00); /* #ffffff */
  --color-info: oklch(75.3513% 0.138989 232.66); /* #38bdf8 */
  --color-info-content: oklch(29.3455% 0.063239 243.16); /* #082f49 */
  --color-success: oklch(72.2746% 0.192007 149.58); /* #22c55e */
  --color-success-content: oklch(26.6364% 0.062848 152.93); /* #052e16 */
  --color-warning: oklch(76.8590% 0.164659 70.08); /* #f59e0b */
  --color-warning-content: oklch(27.9124% 0.074197 45.64); /* #451a03 */
  --color-error: oklch(63.6834% 0.207849 25.33); /* #ef4444 */
  --color-error-content: oklch(25.7518% 0.088559 26.04); /* #450a0a */

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-base-100: oklch(18.3284% 0.013992 212.98); /* #0b1416 */
  --color-base-200: oklch(16.5795% 0.013055 214.70); /* #081012 */
  --color-base-300: oklch(22.6545% 0.022383 210.78); /* #0f1f22 */
  --color-base-content: oklch(98.4152% 0.003413 247.86); /* #f8fafc */

  --color-primary: oklch(51.0938% 0.086055 186.39); /* #0f766e */
  --color-primary-content: oklch(100.0000% 0.000000 0.00); /* #ffffff */
  --color-secondary: oklch(70.8458% 0.156614 54.21); /* #ea8230 */
  --color-secondary-content: oklch(21.0084% 0.031763 264.66); /* #111827 */
  --color-accent: oklch(70.8458% 0.156614 54.21); /* #ea8230 */
  --color-accent-content: oklch(21.0084% 0.031763 264.66); /* #111827 */
  --color-neutral: oklch(14.0169% 0.007850 212.35); /* #060a0b */
  --color-neutral-content: oklch(98.4152% 0.003413 247.86); /* #f8fafc */
  --color-info: oklch(75.3513% 0.138989 232.66); /* #38bdf8 */
  --color-info-content: oklch(29.3455% 0.063239 243.16); /* #082f49 */
  --color-success: oklch(72.2746% 0.192007 149.58); /* #22c55e */
  --color-success-content: oklch(26.6364% 0.062848 152.93); /* #052e16 */
  --color-warning: oklch(76.8590% 0.164659 70.08); /* #f59e0b */
  --color-warning-content: oklch(27.9124% 0.074197 45.64); /* #451a03 */
  --color-error: oklch(63.6834% 0.207849 25.33); /* #ef4444 */
  --color-error-content: oklch(25.7518% 0.088559 26.04); /* #450a0a */

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: color-mix(in oklab, var(--color-primary) 30%, transparent);
}